[submodule "proxecto-back"]
	path = proxecto-back
	url = https://github.com/atxoupi/proxecto-back.git
[submodule "proxecto-front"]
	path = proxecto-front
	url = https://github.com/atxoupi/proxecto-front.git
